{
    deps, [
        {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git",
                          "master"}},
        {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git",
                         "master"}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git",
                       "master"}},
        {bitcask, ".*", {git, "https://github.com/KlausTrainer/bitcask.git",
                         "master"}},
        {qrcode, ".*", {git, "https://github.com/KlausTrainer/qrcode.git",
	                "master"}}
    ]
}.
